{% extends "base.html" %}

{% block title %}
Home - Paws Rescue Center
{% endblock %}

{% block content %}
<h1 id = "title"><center>Paws Rescue Center 🐾</center></h1>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Age</th>
    <th>Bio</th>
  </tr>
  {#% for name, age, bio, id in pets %#}
  {% for pet in pets %}
  <tr>
    <td>
      <a href="{{url_for('petDetails', pet_id = pet['id'])}}">
        <img src="{{url_for('static', filename = pet["id"]|string+".jpg")}}" height="100" >
      </a>
    </td>
    <td>{{pet.name}}</td>
    <td>{{pet.age}}</td>
    <td>{{pet.bio}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

<!--!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - Paws Rescue Center</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
</head>
<body>
  <h1 id = "title"><center>Paws Rescue Center 🐾</center></h1>
  <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
    </tr>
    {#% for name, age, bio, id in pets %#}
    {% for pet in pets %}
    <tr>
      <td>
        <a href="{{url_for('petDetails', pet_id = pet['id'])}}">
          <img src="{{url_for('static', filename = pet["id"]|string+".jpg")}}" height="100" >
        </a>
      </td>
      <td>{{pet.name}}</td>
      <td>{{pet.age}}</td>
      <td>{{pet.bio}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html-->
